.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 767px) {

    .row-eq-height {
        display: block;
    }
}

body {
    font-family: Segoe UI, Calibri, Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 15px;
    line-height: 50px;
    font-family: Segoe UI Light, Calibri Light, Sans-Serif;
}

li {
    padding: 10px 15px;
}

hr {
    color: #929ab1;
    border: none;
    border-bottom: 1px solid;
}

a:hover {
    text-decoration: none;
}

.horizontal-form {
    padding-top: 25px;
    text-align: left;
}

.control-label {
    text-align: left;
}

legend {
    margin: 0;
    margin-bottom: 19px;
    padding: 0 15px;
    font-family: Segoe UI Light, Calibri Light, Sans-Serif;
    border-bottom: 1px solid #929ab1;
}

input, button {
    outline: 0;
}

.form-control {
    border: 1px solid #929ab1;
    border-radius: 0;
    box-shadow: none;
}

.form-group {
    padding: 0 15px;
}

.text-danger {
    color: #ce0000;
}

textarea {
    resize: none;
    overflow-x: hidden;
}

.small-input {
    width: 100px;
}

.glyphicon.flip {
    transform: scale(-1, 1);
}

.fancy-button {
    margin: 5px 0;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid;
    border-radius: 0;
    text-align: center;
    color: #083a7c;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s;
}

.fancy-button span {
    word-break: break-all;
}

.fancy-button.rouge {
    color: #ce0000;
}

.fancy-button:hover {
    border-color: #083a7c;
    background-color: #083a7c;
    color: #ffffff;
}

.fancy-button.rouge:hover {
    border-color: #ce0000;
    background-color: #ce0000;
    color: #ffffff;
}

.file-button {
    font-weight: normal;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.form-box {
    margin: 0 15px;
    padding: 20px;
    border: 1px solid #929ab1;
    background-color: #eef2f6;
}

.margin-auto {
    margin: auto;
}

.single-action {
    margin-top: 75px;
}

.crud-list {
    padding: 15px;
}

.crud-list table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.crud-list th, .crud-list td {
    padding: 10px 20px;
}

.crud-list th {
    font-weight: normal;
    background-color: #0d5ec9;
    color: #FFFFFF;
}

.crud-list td {
    background-color: #e7ecf2;
    transition: 0.1s;
}

.crud-list td:hover {
    background-color: #f2f4f7;
}

.crud-list a {
    background: none;
    border: none;
    color: #083a7c;
}

.crud-list button:hover {
    color: #0d5ec9;
}

.crud-list .action-cell {
    width: 15%;
    text-align: center;
    background-color: #f2f4f7;
}

.crud-list .action-cell-header {
    padding: 10px 5px;
    text-align: center;
}

.champ {
    margin: 20px 15px;
}
