#portail #image {
    min-height: 100vh;
    background-image: url(Images/cegep.jpg);
    background-position: center center;
    background-size: cover;
}

#portail {
    padding: 0;
    background-image: url(../Content/Images/cegep.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#portail .main {
    min-height: 100vh;
    background-image: url(../Content/Images/cegep-frost.jpg);
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#portail .login {
    min-height: calc(100vh - 175px);
}

#portail .logo {
    width: 100%;
}

#portail .associes {
    height: 100px;
}

#portail .associes a img {
    width: 100%;
}

#layout header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #333333;
}

#layout .logo {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    vertical-align: top;
    width: 150px;
    height: 50px;
    background: url(Images/portail-layout.svg) center center no-repeat;
    background-size: contain;
}

#layout #nav-button {
    float: left;
    background-color: #000;
}

#layout .layout-button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
}

#layout .layout-button .glyphicon {
    position: relative;
    top: 10px;
}

#layout #logoutForm {
    float: right;
}

#layout #logoutForm .layout-button {
    float: right;
    background-color: transparent;
    border-left: 2px solid #000;
}

#layout #nav-button:hover, #layout #logoutForm .layout-button:hover {
    background-color: #0d5ec9;
}

#layout .tuile-container {
    padding: 10px;
    background-color: #0a4696;
}

#layout .tuile {
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    width: 110px;
    height: 110px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    background-color: #0d5ec9;
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
}

#layout .tuile:hover {
    background-color: #083a7c;
}

#layout .tuile:active {
    transform: scale(0.9, 0.9);
}

#layout .tuile .glyphicon {
    margin: 15px 0 10px;
    font-size: 42px;
}

@media (max-width: 767px) {
    
    #layout .tuile-container {
        text-align: center;
    }

    #layout .header-logo {
        width: 100px;
        background-image: url(Images/cj-layout-mini.png);
    }
}

#page-content {
    margin-top: 50px;
}

#accueil {
    padding-bottom: 30px;
    width: 100%;
    min-height: calc(100vh - 50px);
    text-align: center;
    background: url(Images/cegep-index.png) no-repeat center center, #4f4f4f;
    background-size: cover;
}

#accueil h1 {
    padding: 125px 0 25px;
    font-size: 5em;
    color: #ffffff;
}

#accueil .icon {
    margin: 35px;
    padding-top: 25px;
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}

#accueil .icon:hover {
    transform: scale(1.1, 1.1);
}

#accueil .icon:active {
    transform: scale(1, 1);
}

#accueil .icon .glyphicon {
    margin-bottom: 10px;
    font-size: 92px;
}

@media (max-width: 767px) {

    #accueil h1 {
        padding: 25px 0;
        font-size: 3em;
    }

    #accueil .icon {
        margin: 0 5px;
        width: 140px;
        height: 180px;
    }
}

.super-view #info-display {
    margin-left: 450px;
    padding: 0;
    width: calc(100% - 450px);
}

.super-view #info-header {
    padding: 20px;
    background-color: #f2f4f7;
}

.super-view #info-header h1 {
    display: inline-block;
}

.super-view #info-detail {
    margin: 0;
    padding: 20px;
}

.info-child {
    margin: 15px;
    display: block;
    width: 600px;
    border-left: 7px solid #0d5ec9;
    text-decoration: none;
    color: #000000;
    background-color: #e7ecf2;
    cursor: pointer;
    transition: 0.1s;
}

.info-child p {
    margin: 10px 15px;
}

.info-child:hover {
    background-color: #f2f4f7;
}

.info-child .gauche {
    float: left;
    width: 400px;
}

.info-child .droite {
    float: right;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
