table.cool-table {
    width: 100%;
    padding: 15px;
    color: #fff;
}

table.cool-table th, table.cool-table td {
    padding: 10px 20px;
}

table.cool-table th {
    background-color: #333333;
    border-bottom: 2px solid #000;
}

table.cool-table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table.cool-table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

table.cool-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table.cool-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table.cool-table td {
    color: #C9C9C9;
    background-color: #5C5C5C;
    border-top: 1px solid #707070;
    transition: 0.1s;
}

table.cool-table tr:first-child td {
    border-top: none;
}

table.cool-table tr:hover td {
    background-color: #4C4C4C;
}

table.cool-table a {
    display: block;
    margin: -10px -20px;
    padding: 10px;
    width: calc(100% + 40px);
    background: none;
    border: none;
    color: #C9C9C9;
    transition: 0.1s;
}

table.cool-table a:hover {
    background-color: #696969;
}

table.cool-table .action-cell-header {
    text-align: center;
    border-left: 1px solid #000;
}

table.cool-table .action-cell {
    width: 15%;
    text-align: center;
    border-left: 1px solid #707070;
}