@{
    ViewBag.Title = "";
    Layout = null;
}
<style>
    .contain-header{
        width:100%;
        background:blue;
    }
</style>

<div class="container contain-header">
    <h1>TEST header</h1>
</div>