@model IEnumerable<ApplicationPlanCadre.Models.ContexteRealisation>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contexteRealisation1)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contexteRealisation1)
            </td>
        </tr>
    }

</table>


