@{
    ViewBag.Title = "Accueil";
}

<div id="accueil">
    <h1>Bienvenue!</h1>
    <div class="icon-container">    
        
        @*Les rôles pour le portail pédagique sont à discuter / En attendant tous les rôles y ont accès *@
        @if (User.IsInRole("RCP") || User.IsInRole("Gestionnaire de stage") || User.IsInRole("Admin") || User.IsInRole("Enseignant"))
        {
            <a class="icon" href='@Url.RouteUrl("Accueil-pedagogie")'>
                <span class="glyphicon glyphicon-education"></span>
                <p>Pédagogie</p>
            </a>
        }

        
        @if (User.IsInRole("Enseignant")||User.IsInRole("Gestionnaire de stage"))
        {
            <a class="icon" href='@Url.RouteUrl("index-Stage")'>
                <span class="glyphicon glyphicon-briefcase"></span>
                <p>Stage</p>
            </a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a class="icon" href='@Url.RouteUrl("creation-programme")'>
                <span class="glyphicon glyphicon-cog"></span>
                <p>Console d'administration</p>
            </a>
        }
    </div>
</div>