@{
    ViewBag.Title = "Accueil";
}

<div id="accueil">
    <h1>Bienvenue!</h1>
    <div class="icon-container">

        @if (User.IsInRole("RCP"))
        {
            <a class="icon" href='@Url.Action("Index", "Programme")'>
                <span class="glyphicon glyphicon-education"></span>
                <p>Gestion des programmes</p>
            </a>
        }
        @if (User.IsInRole("Enseignant")||User.IsInRole("Gestionnaire de stage"))
        {
            <a class="icon" href='@Url.Action("indexStage", "Stage")'>
                <span class="glyphicon glyphicon-briefcase"></span>
                <p>Stage</p>
            </a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a class="icon" href='@Url.Action("Create", "ConsoleProgramme")'>
                <span class="glyphicon glyphicon-cog"></span>
                <p>Console d'administration</p>
            </a>
        }
    </div>
</div>