@{
    ViewBag.Title = "Pedagogie";
}


<div id="accueil">
    <h1>Pédagogie</h1>
    <div class="icon-container">
        
        <a class="icon" href='@Url.Action("Index")'>
            <span class="glyphicon glyphicon-share-alt flip"></span>
            <p>Retour</p>
        </a>
        
        <a class="icon" href='@Url.Action("Index", "DevisMinistere")'>
            <span class="glyphicon glyphicon-duplicate"></span>
            <p>Gestion des devis ministériels</p>
        </a>
        
        <a class="icon" href='@Url.Action("Index", "PlanCadre")'>
            <span class="glyphicon glyphicon-blackboard"></span>
            <p>Gestion des plans cadre</p>
        </a>

        <a class="icon">
            <span class="glyphicon glyphicon-th"></span>
            <p>Gestion des grilles de cours</p>
        </a>
    </div>
</div>