
@{
    ViewBag.Title = "Pedagogie";
}


<div id="accueil">
    <h1>Pédagogie</h1>
    <div class="icon-container">
        @if (User.IsInRole("RCP"))
        {
            <a class="icon" href='@Url.Action("Index", "DevisMinistere")'>
                <span class="glyphicon glyphicon-duplicate"></span>
                <p>Gestion des devis ministériels</p>
            </a>
        }

        @*Les rôles sont à discuter*@

        @if (User.IsInRole("RCP") || User.IsInRole("Gestionnaire de stage") || User.IsInRole("Admin") || User.IsInRole("Enseignant"))
        {
        <a class="icon">
            <span class="glyphicon glyphicon-th-list"></span>
            <p>Gestion des plans cadre</p>
        </a>
        }
        @if (User.IsInRole("RCP") || User.IsInRole("Gestionnaire de stage") || User.IsInRole("Admin") || User.IsInRole("Enseignant"))
        {
            <a class="icon">
                <span class="glyphicon glyphicon-th"></span>
                <p>Gestion des grilles</p>
            </a>
        }

        @if (User.IsInRole("RCP") || User.IsInRole("Gestionnaire de stage") || User.IsInRole("Admin") || User.IsInRole("Enseignant"))
        {
            <a class="icon">
                <span class="glyphicon glyphicon-blackboard"></span>
                <p>Gestion des cours</p>
            </a>
        }
    </div>
</div>