
@{
    ViewBag.Title = "Error 401-AccessDenied";
}

<h2>Error 401</h2>

<h2>Accès refusé</h2>

<a class="tuile" href='@Url.Action("Index", "Accueil")'>
    <span class="glyphicon glyphicon-home"></span>
    <p>Accueil</p>
</a>


