@model dynamic

@{
    ViewBag.Title = "CompetencePC";
}

<div id="super-view">
    @Html.Action("_TreeView")
    <div id="info-display" class="container-fluid">
        <div id="info-detail">
            <h1>Enonce</h1>
             
            <h3>@Html.DisplayFor(model => Model.EnonceCompetence.codeCompetence)-@Html.DisplayFor(model => Model.EnonceCompetence.description)</h3>

        </div>

        @foreach (var element in Model.EnonceCompetence.ElementCompetence)
        {
                <h3>@Html.DisplayFor(model => element.description)</h3>

            foreach (var criterePerformance in element.CriterePerformance)
            {
                <h3>@Html.DisplayFor(model => criterePerformance.description)</h3>
            }
        }
    </div>
</div>