@model ApplicationPlanCadre.Models.PlanCadre
@{
    ViewBag.Title = "PlanCadre";
    bool rowspanDone = false;
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 15px;
    }

    table {
        page-break-before: auto;
        width: 100%;
        margin-top: 25px;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: always;
    }

    td {
        page-break-inside: avoid;
        page-break-before: auto
    }

    thead {
        display: table-header-group;
        font-weight: bold;
        background-color: rgba(87, 85, 91, 0.5);
    }

    tfoot {
        display: table-footer-group
    }

    div {
        page-break-after: auto
    }

    .divtop {
        width: 100%;
        background-color: red;
    }

    .pdf {
        width: 100%;
    }

    .entete {
        font-size: 25px;
        font-weight: bold;
    }

    .entete-left {
        display: inline;
        box-sizing: border-box;
        width: 50%;
        float: left;
        margin: 0px;
    }

    .entete-right {
        display: inline;
        box-sizing: border-box;
        width: 50%;
        float: right;
        margin: 0px;
    }

    .inner-left {
        display: inline;
        box-sizing: border-box;
        float: left;
        margin: 0px;
    }

    .inner-right {
        display: inline;
        box-sizing: border-box;
        float: left;
        margin-left: 10px;
    }

    .inner2-left {
        display: inline;
        box-sizing: border-box;
        float: right;
        margin-left: 10px;
    }

    .inner2-right {
        display: inline;
        box-sizing: border-box;
        float: right;
        margin: 0px;
    }

    .critere-left {
        display: inline;
        box-sizing: border-box;
        float: left;
        margin: 0px;
        width: 4%;
        margin-right: 15px;
    }

    .critere-right {
        display: inline;
        box-sizing: border-box;
        margin: 0px;
        float: left;
        width: 90%;
    }


    .corps {
        padding-top: 25px;
    }

    #clear {
        clear: both;
    }
</style>

@Html.Action("_TreeView", "Programme")

<div class="super-view">

    <div class="info-display container-fluid">

        <hr />

        <h1>Modification</h1>
        <a class="fancy-button" href='@Url.Action("Edit", new { idPlanCadre = Model.idPlanCadre })'><span class="glyphicon glyphicon-pencil"><!----></span> Modifier</a>
        <a class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "Programme", new { idProgramme = Model.idProgramme })'">Retour</a>

    </div>
</div>

