<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style>
        .footer-left{
            display:inline;
            width:50%;
            
           
            
        }
        .footer-right {
            display: inline;
            float: right;
        }
        .contain{
            width:100%;
        }
        .contain{
            font-size:25px;
        }
    </style>
    <div class="contain">
        <div class="footer-left">Cégep de Jonquière</div>
        <div class="footer-right" id="date"></div>
    </div>
    <script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
    </script>
</body>
</html>