@model IEnumerable<ApplicationPlanCadre.Models.Programme>
@{
    ViewBag.Title = "Gestion des programmes";
}

<div id="programme">
    <h1>Programme</h1>
    @*@{ Html.RenderAction("TreeView"); }*@
</div>