@model IEnumerable<ApplicationPlanCadre.Models.Programme>

@{
    ViewBag.Title = "Programme";
}

<div id="super-view">
    @Html.Action("_TreeView")
    <div id="info-display" class="container-fluid">
        <div id="info-detail">
            <h1>Programmes</h1>
            <hr />
            @foreach (var programme in Model)
            {
                <a class="info-child clearfix" href='@Url.Action("Info", "Programme", new { id = programme.idProgramme })'>
                    <p class="gauche">@Html.DisplayFor(ec => programme.EnteteProgramme.commentaire)</p>
                    <p class="droite">@Html.DisplayFor(model => programme.codeProgramme)-@Html.DisplayFor(model => programme.annee)-@Html.DisplayFor(model => programme.codeSpecialisation)</p>
                </a>
            }
        </div>
    </div>
</div>