@model ApplicationPlanCadre.Models.DevisMinistere

<div id="devisMinistere">
    <div id="enoncerDevisMinistere">

        <table>
            <tr>
                <th>Compétence</th>
                <th>Code Compétence</th>
                <th>status</th>
                <th>Contexte de Réalisation</th>
            </tr>

            @foreach (var enonceCompetence in Model.EnonceCompetence)
            {
                <tr>
                    <td>@Html.DisplayFor(enc => enonceCompetence.description)</td>
                    <td>@Html.DisplayFor(enc => enonceCompetence.codeCompetence)</td>
                    <td>
                        Obligatoire:@Html.DisplayFor(enc => enonceCompetence.obligatoire)

                        Actif: @Html.DisplayFor(enc => enonceCompetence.actif)
                    </td>
                    <td>
                        @foreach (var contexteRealisation in enonceCompetence.ContexteRealisation)
                        {

                            @Html.DisplayFor(elc => contexteRealisation.description)<br />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>