@model IEnumerable<ApplicationPlanCadre.Models.DevisMinistere>

@{
    ViewBag.Title = "Devis ministériels";
}

<div class="super-view">
    @Html.Action("_TreeView")
    <div id="info-display" class="container-fluid">
        <div id="info-detail">
            <h1>Devis ministériels</h1>
            <hr />
            @foreach (var devisMinistere in Model)
            {                                       
                <a class="info-child clearfix" href='@Url.Action("Info", new { idDevis = devisMinistere.idDevis })'>
                    <p class="gauche">
                        @Html.DisplayFor(ec => devisMinistere.EnteteProgramme.nom)
                    </p> 
                    <p class="droite">@Html.DisplayFor(model => devisMinistere.codeProgramme)-@Html.DisplayFor(model => devisMinistere.annee)-@Html.DisplayFor(model => devisMinistere.codeSpecialisation)</p>
                </a>
            }
        </div>
    </div>
</div>