@model LaboGestionProgrammeBdFirst.tblProgramme

@{
    ViewBag.Title = "ViewPdf";
}

<h2>Module de téléchargement du pdf en cours de développement</h2>

<asp:Image ImageUrl="~~/image/programme.pdf" Width="100" Height="50" />

<img src="~/image/programme.pdf" alt="" />

<a href="~/image/programme.pdf">Test</a>
