@{
    ViewBag.Title = "Réinitialiser la confirmation du mot de passe";
}

<div class="container">

    <h1>@ViewBag.Title.</h1>

    <div>
        <p>
            Votre mot de passe a été réinitialisé. Veuillez @Html.ActionLink("cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</div>