@{
    ViewBag.Title = "index";
}

<div id="indexNav">
    <div class="layers">
        <div class="tuile-container">
            <a class="index-tuile">
                <span class="glyphicon glyphicon-education"></span>
                <p>Gestion des programmes</p>
            </a>
            <a class="index-tuile">
                <span class="glyphicon glyphicon-briefcase"></span>
                <p>Stage</p>
            </a>
            <a class="index-tuile">
                <span class="glyphicon glyphicon-tasks"></span>
                <p>Liste des compétences</p>
            </a>
            <a class="index-tuile">
                <span class="glyphicon glyphicon-cog"></span>
                <p>Console d'administration</p>
            </a>
        </div>
    </div>
</div>