@model IEnumerable<ApplicationPlanCadre.Models.ContexteRealisation>

<div class="crud-list">

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contexteRealisation1)
            </th>
            <th class="action-cell-header">
                <b>Modifier</b>
            </th>
            <th class="action-cell-header">
                <b>Supprimer</b>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            string dblclickEvent = Url.Action("Edit", new { idContexte = item.idContexte });
            <tr ondblclick="location.href='@dblclickEvent'" class="valide">
                <td>
                    @Html.DisplayFor(modelItem => item.contexteRealisation1)
                </td>
                <td class="action-cell">
                    <a href='@Url.Action("Edit", new { idContexte = item.idContexte })'>
                        <span class="glyphicon glyphicon-pencil"><!----></span>
                    </a>
                </td>
                <td class="action-cell">
                    <a href='@Url.Action("Delete", new { idContexte = item.idContexte })'>
                        <span class="glyphicon glyphicon-trash"><!----></span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>