body {
    font-family: 'Open Sans';
}

.portail {
    background-image: url(Images/cegep.jpg);
    background-size: cover;
    background-position: 25% bottom;
}

.portail-login {
    min-height: 100vh;
    background-color: #e7ecf2;
}

.logo-portail {
    width: 100%;
}

.portail-forgotPassword {
    text-align: center;
}

.portail-login .form-control {
    border: 1px solid #aaaaaa;
    border-radius: 0;
    box-shadow: none;
}

.portail-submit {
    text-align: center;
    margin: 25px;
}

input[type='submit'] {
    display: inline-block;
    color: #083a7c;
    border: 2px solid;
    border-radius: 0;
    background-color: transparent;
    font-size: 1.2em;
    transition: 0.1s;
}

input[type='submit']:hover {
    border-color: #083a7c;
    background-color: #083a7c;
    color: #ffffff;
}

.portail-associes {
    margin-top: 150px;
}

@media screen and (max-width: 767px) {

    .portail {
        background-size: 100%;
        background-position: center top;
    }

    .portail-login {
        margin-top: 100px;
        min-height: calc(100vh - 100px);
    }

    .portail-associes {
        margin-top: 0;
    }
}

#layout header {
    position: fixed;
    top: 0;
    width: 100%;
}

#layout #layout-head {
    background-color: #083a7c;
}

#layout .header-logo {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    vertical-align: top;
    width: 420px;
    height: 50px;
    background: url(Images/cj-layout.png) center center no-repeat;
    background-size: contain;
}

#layout #nav-button {
    float: left;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #0d5ec9;
    border: none;
    color: #ffffff;
    transition: 0.1s;
}

    #layout #nav-button:focus {
        outline: 0;
    }

    #layout #nav-button:hover {
        background-color: #0a4696;
    }

#layout .tuile-container {
    padding: 10px;
    background-color: #0a4696;
}

#layout .tuile-container a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    line-height: 14px;
    user-select: none;
}

#layout .tuile {
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 110px;
    text-align: center;
    background-color: #0d5ec9;
    cursor: pointer;
    transition: 0.1s;
}

#layout .tuile:hover {
    background-color: #083a7c;
}

#layout .tuile:active {
    transform: scale(0.9, 0.9);
}

#layout .tuile .glyphicon {
    margin: 15px 0 10px;
    font-size: 42px;
}

@media (max-width: 767px) {
    #layout .tuile-container {
        text-align: center;
    }

    #layout .header-logo {
        width: 100px;
        background-image: url(Images/cj-layout-mini.png);
    }
}

#login-partiel ul li {
    float: right;
    line-height: 50px;
    list-style: none;
    border-left: 1px solid #0a4696;
}

#login-partiel a {
    display: block;
    padding: 0 20px;
    height: 50px;
    color: white;
    text-decoration: none;
}

#login-partiel a:hover {
    color: #e7ecf2;
}

#page-content {
    margin-top: 50px;
}